
:root {
  --font: 'Oxygen', sans-serif;
  --primary: #42E2B8;
  --gradient: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
  --black: black;
}

body {
  font-family: var(--font);
  background: var(--gradient);
  margin: 0;
}
.u-wrapper {
  max-inline-size: 1232px;
  margin: 0 auto;
  padding: 0 1em;
}

.h1 {
  font-size: 59px;
  line-height: 95px;
  font-weight: 700;
  margin: 1rem 0;
}

.h1 span {
  display: block;
}

.h3 {
  font-size: 48px;
  line-height: 77px;
}

.social-item {
  background: var(--primary);
  display: inline-block;
  inline-size: 44px;
  block-size: 44px;
  text-align: center;
  line-height: 44px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  border: 2px solid var(--black);
}

.social-item + .social-item {
  margin-left: 1em;
}

.social-item img {
  vertical-align: middle;
}

.btn {
  /* font-family: var(--font); */
  border-radius: 90px;
  letter-spacing: 1.25px;
  background: initial;
  block-size: 50px;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border: 2px solid var(--black);
  font-weight: bold;
  padding: 0 1.5em;
}
.btn.full {
  width: 100%;
}

.btn.primary {
  background: var(--primary);
}

.btn.secondary 

.btn.secondary img{
  position: relative;
  bottom: 1px;
}
.btn i {
  display: inline-block;
}
.btn span {
  vertical-align: middle;
}
.btn i img {
  vertical-align: middle;
}

.hero {
  margin-block-end: 80px;
}

.hero-content 
.hero-content img{
  display: block;
  margin: 0 auto;
  /* text-align: center; */
}


.header {
  padding: 1em 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pre-projects-content {
  text-align: center;
}

.pre-projects-content p {
  font-size: 1.5em;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.5%;
}

.pre-projects-content p + p {
  font-weight: bold;
}

.project {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas: "image" "description";
}
.project 
.project-image {
  grid-area: image;
  text-align: center;
  margin-block-end: 1.5em;
  max-width: 100%; /* Ajusta el ancho máximo según tu diseño */
  height: auto; /* Esto mantendrá la proporción */
  width: 300px; /* Ancho deseado */
  height: auto; /* Mantendrá la proporción */
}
.project-description {
  grid-area: description;

}
.project img {
  max-width: 100%;
}

.project-title {
  padding: .5em;
  background: var(--black);
  color: var(--primary);
  box-shadow: -4px 4px 0 white;
  word-wrap: break-word;
  max-width: 300px;
}

.project-copy {
  line-height: 25px;
  letter-spacing: .5%;
  margin-block-start: 2em;
}
.project-cta {
  margin-block-start: 1.5em;
}
.project-cta button + button {
  margin-block-start: 1em;
}






.form {
  max-inline-size: 550px;
  margin: auto;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}

.form label span {
  color: #DA1414;
}

.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #858C94;
}
.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}

input::-webkit-input-placeholder {
  color: #0F0A0A88;
}


.contact {
  margin-block-end: 5em;
}

.footer {
  text-align: center;
}

#trucazo {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description image";
  }

  .hero-description {
    grid-area: description;
  }

  .hero-image {
    grid-area: image;
  }
  .hero-image img {
    inline-size: 500px;
    margin-top: -50px;
  }

  .pre-projects-content {
    max-inline-size: 900px;
    margin: auto;
  }

  .project {
    grid-template-areas: "description image";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
  }
  .project-cta {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .project-cta button + button {
    margin: 0;
  }




  .form .tag span {
    display: block;
    text-align: center;
  }

}

/* Estilos generales */
.header {
  --gradient: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%); /* Color de fondo del encabezado */
  padding: 20px 0; /* Espaciado interno del encabezado */
}

.u-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 125px; /* Ajusta el tamaño del logo según sea necesario */
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333; /* Color de los enlaces del menú */
  font-weight: bold;
  font-size: 18px;
}

/* Estilos para los enlaces activos, cambia los estilos según sea necesario */
.navigation ul li a:hover {
  color: #ff0000; /* Cambia el color al pasar el cursor */
}

.custom-card img {
  width: 100px; /* Ancho deseado para las imágenes */
  height: auto; /* Esto mantiene la proporción */
  display: block; /* Cambia el comportamiento a bloque para aplicar márgenes automáticos */
  margin-left: auto; /* Establece margen automático a la izquierda */
  margin-right: auto; /* Establece margen automático a la derecha */
}


.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn2 {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #fefefe;
}

.btn2 span {
  position: relative;
  z-index: 3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}